@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


* {
  margin: 0px;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
  box-shadow:   1px 3px 5px rgba(0, 0, 0, 0.1);
}
.navbar h1 {
  color: #f1236d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: white;
  background-color: #f1236d;
  border-radius: 8px;
}
.navbar a:hover{
  color: black;
}
.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.blog-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  
}
.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2{
  font-size: 20px;
  color: #f1236d;
  margin-bottom: 8px;
}
.votes{
  display: flex;
  justify-content: flex-end;
}
.textarea{
 height: 200px;
 width: 600px;
}
.submitblog{
text-decoration: none;
padding: 6px;
color: white;
background-color: #f1236d;
border-radius: 8px;
border-color: #f1236d;
width: 80px;
height: 40px;
font-size: 16px;
}

.link a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: white;
  background-color: #f1236d;
  border-radius: 8px;
}
.blog-preview a{
  text-decoration: none;
}
.rating{
  padding: 6px;
  color: white;
  background-color: #f1236d;
  border-radius: 8px;
  border-color: #f1236d;
  font-size: 20px;
  width: 50px;

}